{% extends "base.html" %}

{% block head_content %}
	<title>Create post</title>
{% endblock%}

{% block container %}

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-6 pt-3 pb-3" id="profile-box">
				<h4 class="mb-4">Post a new photo</h4>

				<form method="POST" enctype="multipart/form-data" action="{% url 'new_post' %}">
					{% csrf_token%}

					{# Title #}
					{% include "partials/form_field.html" with field=form.title %}

					{# Photo #}
					{% include "partials/form_field.html" with field=form.photo %}

					<button class="btn btn-primary btn-block mt-5" type="submit">Publish it!</button>
					
				</form>
			</div>
		</div>
	</div>

{% endblock %}